/* Desktop */
.header
{
    width: 100%;
    height: 50px;
    background-color:lightgreen;
     border:2px solid rgb(2, 184, 2);
    border-radius:10px;
}
.main
{
    display: flex;
    flex-wrap: wrap;
    margin-top:10px;
    justify-content: center;
   
}
.main1
{
    width: 69%;
    height: 200px;
    background-color: lightblue;
    border: 2px solid rgb(9, 187, 246);
    margin-right: 5px;
    border-radius: 10px;
    justify-content: space-between;
    
}
.main2
{
   
    width: 30%;
    height: 200px;
    background-color: lightblue;
    border: 2px solid rgb(9, 187, 246);
    border-radius: 10px;
}
.article-Div
{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    margin: 10px;
    justify-content: space-between;
}
.article1
{
    width: 360px;
    height: 200px;
    background-color: lightsalmon;
    border:2px solid rgb(246, 74, 6);
    border-radius: 10px;

}
.article2
{
    width: 360px;
    height: 200px;
    background-color: lightsalmon;
    border:2px solid rgb(246, 74, 6);
    border-radius: 10px;

}
.article
{
    width: 360px;
    height: 200px;
    background-color: lightsalmon;
    border:2px solid rgb(246, 74, 6);
    border-radius: 10px;

}
.footer-Div
{
    display: flex;
    flex-wrap:wrap;
    gap: 5px;
    justify-content: space-between;
}
.footer1
{
    width: 490px;
    height: 200px;
    background-color: rgb(253, 98, 253);
    border: 2px solid rgb(78, 2, 78);
    border-radius: 10px;
}
.footer
{
    width: 490px;
    height: 200px;
    background-color: rgb(253, 98, 253);
    border: 2px solid rgb(78, 2, 78);
    border-radius: 10px;
}

/* Tablet */
@media(max-width:1028px)
{
   .header
{
    width: 100%;
    height: 50px;
    background-color:lightgreen;
    border:2px solid rgb(2, 184, 2);
    border-radius:10px;
}
.main
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* margin-top:10px;
    justify-content: center; */
   
}
.main1
{
    width: 100%;
    height: 180px;
    background-color: lightblue;
    border: 2px solid rgb(9, 187, 246);
    border-radius: 10px;
    margin: 10px;
  
    
}
.main2
{
   
    width: 100%;
    height: 180px;
    background-color: lightblue;
    border: 2px solid rgb(9, 187, 246);
    border-radius: 10px;
}
.article-Div
{
    display: flex;
    flex-wrap: wrap;
    gap:5px; 
}
.article1
{
    width: 450px;
    height: 200px;
    background-color: lightsalmon;
    border:2px solid rgb(246, 74, 6);
    border-radius: 10px;

}
.article2
{
    width: 450px;
    height: 200px;
    background-color: lightsalmon;
    border:2px solid rgb(246, 74, 6);
    border-radius: 10px;

}
.article
{
    width: 450px;
    height: 200px;
    background-color: lightsalmon;
    border:2px solid rgb(246, 74, 6);
    border-radius: 10px;
    margin: 8px;

}
.footer-Div
{
    display: flex;
    flex-wrap:wrap;
    gap: 5px;
    justify-content: space-between;
}
.footer1
{
    width: 100%;
    height: 150px;
    background-color: rgb(253, 98, 253);
    border: 2px solid rgb(78, 2, 78);
    border-radius: 10px;
      margin: 10px;
} 
.footer
{
    width: 49%;
    height: 150px;
    background-color: rgb(253, 98, 253);
    border: 2px solid rgb(78, 2, 78);
    border-radius: 10px;
   
} 
}



/* Mobile */
@media(max-width: 727px)
{
.header
{
    width: 100%;
    height: 50px;
    background-color:lightgreen;
    border:2px solid rgb(2, 184, 2);
    border-radius:10px;
}

.main1
{
    width: 100%;
    height: 50px;
    background-color: lightblue;
    border: 2px solid rgb(9, 187, 246);
    border-radius: 10px;
    margin: 10px;
  
    
}
.main2
{
   
    width: 100%;
    height: 180px;
    background-color: lightblue;
    border: 2px solid rgb(9, 187, 246);
    border-radius: 10px;
}
.article-Div
{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}
.article1
{
    width: 100px;
    height: 150px;
    background-color: lightsalmon;
    border:2px solid rgb(246, 74, 6);
    margin: 8px;
}
.article2
{
    width: 100px;
    height: 150px;
    background-color: lightsalmon;
    border:2px solid rgb(246, 74, 6);
  
    margin: 8px;
}
.article
{
    width: 100%;
    height: 150px;
    background-color: lightsalmon;
    border:2px solid rgb(246, 74, 6);
    margin: 8px;
}
.footer-Div 
{
    display: flex;
    flex-wrap:wrap;
    gap: 5px;
    justify-content: space-between;
}
.footer1
{
    width: 100%;
    height: 150px;
    background-color: rgb(253, 98, 253);
    border: 2px solid rgb(78, 2, 78);
    border-radius: 10px;
    margin: 10px; 
} 
.footer
{
    width: 100%;
    height: 150px;
    background-color: rgb(253, 98, 253);
    border: 2px solid rgb(78, 2, 78);
    border-radius: 10px; 
    
} 
}