.container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap:10px; */
    /* align-items: center; */
    
}
.conatiner1
{
    width: 100%;
    height: 150px;
    border: 1px solid white;
    background-color: lightcoral;
   
}
.section
{
    width: 15%;
    height: 180px;
    background-color: lightgreen;
    margin: 5px;
}

.mainContainer
{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
   
}
.main1
{
 width: 60%;
 height: 250px;
 background-color: lightcoral;

}
.main2
{
    width: 39%;
    height: 250px;
    background-color:rgb(140, 171, 244);
    margin: 3px;
}
.footer
{
    width: 100%;
    height: 150px;
    background-color: lightblue;
    margin: 5px;
    align-content: center;
}