.mainContainer
{
    /* position: relative; */
}
.color
{
    width: 100%;
    height: 40px;
    background-color: red;
    position: sticky;
    top: 0;
}
.black-color
{
    width: 100%;
    height: 10px;
    background-color: black;
    position: fixed;
    bottom:5px;
}
/* .black-colorTop
{
    width: 100%;
    height: 10px;
    background-color:yellow;
    position: fixed;
    top: 0;
    
} */
.Topcointainer
{
    width: 100%;
    height: 100px;
    border: 1px solid black;
   background-color: aqua;
    position: fixed;
    top: 0;
}
.parent
{
    width: 600px;
    height: 600px;
    border: 1px solid red;
    margin: 30px auto;
    position: relative;  
}
.child
{
    width: 300px;
    height: 300px;
    border: 1px solid blue;
    top:15px;
    left: 10px;
    position: absolute;
    
    
}
.grandChild
{
     width: 200px;
    height: 200px;
    border: 1px solid darkred;
    top:15px;
    left: 15px;
     position: absolute;
}